name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '36 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v2
    - name: Fetch latest data
      run: |-
        curl https://en.wikipedia.org/api/rest_v1/page/html/List_of_S%26P_500_companies  > sp500.html
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
